@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var (--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input:focus + label,
input:valid + label {
  transform: translate(-150%, -50%) !important;
}

@keyframes flicker {
  0% {
    border-color: rgb(1, 235, 252);
    box-shadow: 0px 0px 100px rgb(1, 235, 252), inset 0px 0px 10px rgb(1, 235, 252), 0px 0px 5px rgb(255, 255, 255);
  }

  5% {
    border-color: transparent;
    box-shadow: none;
  }

  10% {
    border-color: rgb(1, 235, 252);
    box-shadow: 0px 0px 100px rgb(1, 235, 252), inset 0px 0px 10px rgb(1, 235, 252), 0px 0px 5px rgb(255, 255, 255);
  }

  25% {
    border-color: transparent;
    box-shadow: none;
  }

  30% {
    border-color: rgb(1, 235, 252);
    box-shadow: 0px 0px 100px rgb(1, 235, 252), inset 0px 0px 10px rgb(1, 235, 252), 0px 0px 5px rgb(255, 255, 255);
  }

  100% {
    border-color: rgb(1, 235, 252);
    box-shadow: 0px 0px 100px rgb(1, 235, 252), inset 0px 0px 10px rgb(1, 235, 252), 0px 0px 5px rgb(255, 255, 255);
  }
}

@keyframes iconflicker {
  0% {
    opacity: 1;
  }

  5% {
    opacity: 0.2;
  }

  10% {
    opacity: 1;
  }

  25% {
    opacity: 0.2;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.animate-flicker {
  animation: flicker 2s linear infinite;
}

.animate-iconflicker {
  animation: iconflicker 2s linear infinite;
}

input:focus + .label, input:valid + .label {
  transform: translate(-150%, -50%);
}

.form_control input {
  font-size: 1.15em;  
  padding: 0.575em;  
}

.form_control label {
  font-size: 1.15em;  
}

button.login-btn, button.signup-btn {
  font-size: 1.15em; 
  padding: 0.575em;   
}

span.title {
  font-size: 2.3em;   
}

span.bottom_text {
  font-size: 0.75em; 
}
